<div id="<%= dom_id philosopher %>">
  <p>
    <strong>P fname:</strong>
    <%= philosopher.p_fname %>
  </p>

  <p>
    <strong>P lname:</strong>
    <%= philosopher.p_lname %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= philosopher.birth_year %>
  </p>

  <p>
    <strong>Death year:</strong>
    <%= philosopher.death_year %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= philosopher.biography %>
  </p>

</div>
